<h1>Barページ</h1>
<p>これはBarのアクションの結果です。</p>
<!DOCTYPE html>
<html>
  <head>
    <title>Bar Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-5">
      <div class="text-center">
        <h1 class="display-4">Welcome to the Bar Page!</h1>
        <p class="lead">This is a sample page created to demonstrate the `bar` action in the Foo controller.</p>
        <a href="/foo/baz" class="btn btn-primary btn-lg mt-3">Go to Baz Page</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
